include CHANGELOG.md
include LICENSE*
include README.md
include *.md
include VERSION
include mypy.ini
include tox.ini
include .coveragerc
recursive-include src *.py
recursive-include src/plotman/_tests/resources *
recursive-include src/plotman/resources *
recursive-exclude docker *
exclude .dockerignore
exclude build-docker-plotman.sh
